<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy: <a href="https://facebook.com/shuvaray">Follow me on Facebook</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About"  %></li>
      </ul>
    </nav>
  </footer>
</div>
